<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicheck">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediCheck">
        <activity
            android:name=".diabetesResult"
            android:exported="true" />
        <activity
            android:name=".heartDiseasePredict"
            android:exported="true" />
        <activity
            android:name=".diabetesPredict"
            android:exported="true" />
        <activity
            android:name=".MediPredict"
            android:exported="true" />
        <activity
            android:name=".Reviews"
            android:exported="true" />
        <activity
            android:name=".RegisterInsurance"
            android:exported="true" />
        <activity
            android:name=".RegisterGP"
            android:exported="true" />
        <activity
            android:name=".UserDetails"
            android:exported="true" />
        <activity
            android:name=".RegisterUser"
            android:exported="true" />
        <activity
            android:name=".MainMenu"
            android:exported="true" />
        <activity
            android:name=".InsuranceDetails"
            android:exported="true" />
        <activity
            android:name=".GPDetails"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>